:root {
  --background-color: white;
  --font-color: #fbf5f3;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  list-style: none;
}
.header-container {
  /* margin: 5px; */
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 10vh;
  padding: 10px;
}
.header-container a {
  text-decoration: none;
  color: var(--font-color);
}
.header-container a:hover {
  color: #5C5B5D;
}
.header-container img {
  height: 50px;
  width: auto;
}
.header {
  background-color: #1b1725;
  height: 10vh;
  /* display: flex;
  align-items: center; */
}
.header-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  padding-top: 1rem;
}
.header-container ul li {
  margin: 5px;
  cursor: pointer;
}

/* login */

/* footer */
.footer {
  background-color: black;
  color: white;
  padding: 10px;
  /* height: 5vh; */
  margin-top: 5px;
  bottom: 0;
  position: absolute;
  box-sizing: border-box;
  width: 100vw;
}

/* temp */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
