.custom-modal {
  /* Add your custom styles here */
  max-width: 600px;
  margin: 0 auto;
}

.custom-modal input {
  border: none;
  border-bottom: 2px solid black;
  border-radius: 0;
  padding: 0px;
}
.custom-modal input:focus {
  outline: none;
}

.custom-modal .modal-header {
  /* Header styles */
  background-color: #f8f9fa;
  color: #333;
  border-bottom: 1px solid #dee2e6;
}

.custom-modal .modal-title {
  /* Title styles */
}

.custom-modal .modal-body {
  /* Body styles */
}

.custom-modal .modal-footer {
  /* Footer styles */
}
.modal-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px; /* Adjust margin as needed */
}

.modal.show .modal-dialog {
  transform: none;
  margin-top: 5vh;
}
.form-label{
  padding-bottom: 0;
  margin-bottom: 0px;
  font-weight: 600;
}

.form-label {
  margin-bottom: 0px !important;
}
.form-control{
  margin-bottom: 8px;
}
#editDescription{
  height: 250px;
  font-size: 12px;
}

#editTitle:focus{
  border: none;
}