.blog-image {
  height: 60vh;
  width: auto;
  margin-bottom: 5vh;
  /* text-align: center; */
}
.container4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 10px; */
  /* border: 2px solid black; */
  padding: 30px 100px 30px 100px;
}
.blog-header {
  padding-bottom: 10px;
  font-size: 4rem;
  margin: 0px;
}
.blog-p {
  padding-top: 20px;
  font-size: small;
}
.Blog {
  /* background-color: rgb(237, 244, 255); */
}
.blog-footer {
  display: flex;
  justify-content: space-between;
  /* padding-top: 20px; */
  align-items: center;
}
.blog1-footer {
  /* margin-left: 10px; */
  display: flex;
  width: 81vw;
  justify-content: space-between;
  margin-top: 3vh;
}

@media only screen and (max-width: 600px) {
  .container4 {
    padding: 10px;
    align-items: normal;
  }
  .blog-image {
    height: 30vh;
  }
  .blog-p {
    padding-bottom: 10px;
  }
  .blog1-footer {
    font-size: small;
  }
}
