.main-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* background-color: bisque; */
}
.blogs-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  /* justify-content: center; */
  gap: 30px;
  margin: 10px 50px 10px 100px;
  padding: 10px;
  /* background-color: antiquewhite; */
}
.blog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-footer button {
  padding: 2px 7px 2px 7px !important;
  /* margin: 0px !important; */
  color: aliceblue !important;
  background-color: black !important;
  margin-right: 10px !important;
}
.blog-header {
  /* margin: 5px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-img {
  height: 31vh;
  width: 88vw;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 0px;
  overflow-x: hidden;
}
.author-bottom {
  bottom: 0;
}
.blog {
  background-color: rgb(238, 253, 255);
  /* border: 1px solid black; */
  border-radius: 10px;
  margin: 5px;
  /* padding: 5px; */
  width: 25vw;
  height: 65vh;
  /* text-align: justify; */
}
.blog:hover {
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
  transition: 0.5s ease-in-out;
}
.blog-info {
  padding: 10px;
  width: 24vw;
  overflow: hidden;
  /* text-align: justify; */
  /* background-color: aqua; */
  height: 25vh;
}
.blog-info h3 {
  font-weight: 600;
  font-size: 1.3rem;
}
.blog-info p {
  font-size: 0.8rem;
}
.span-author {
  font-weight: bolder;
}
.author-bottom {
  margin-top: auto;
}

.p-author {
  font-size: 0.8rem;
}
.p-author,
.p-time {
  margin: 0px;
  padding: 0px;
}
.p-time {
  font-size: 0.7rem !important;
}
.blog-footer {
  margin-left: 10px;
  /* margin: 0; */
}
.blog-buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.main button {
  background-color: rgb(161, 102, 255);
  color: black;
  border: none;
  padding: 5px;
  margin: 10px;
}

.creatBlog {
  background-color: rgb(237, 244, 255);
  padding: 10px;
  margin: 10px;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 45vw;
}
.container2 {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-self: center;
  /* margin: 100px; */
  height: 85vh;
  width: 99vw;
  padding: 10px;
  flex-direction: column;
  /* background-color: salmon; */
  align-items: center;
}
.creatBlog input {
  width: 95%;
  padding: 1px;
  margin: 10px;
}

.description {
  border: 1px solid black;
  padding: 1px;
  margin: 1px;
  /* height: 200px; */
  width: 42vw;
  margin-bottom: 10px;
}
.create-blog-form button {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 5px;
  margin: 10px;
}
.blog-buttons button {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  min-width: 60px;
}
.blog2 {
  height: 67vh;
}

#yourposts {
  padding-left: 7vw;
  padding-top: 10px;
}
.modal-footer button{
  background-color: black;
  border:none;
  padding: 5px;
}

@media only screen and (max-width:600px){
  .blogs-container{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
  .blog{
    width: 90vw;
    height: 60vh;
  }
  .blog-info{
    width: 90vw;
    height: 20vh;
  }
  .blog-p{
    padding: 0;
    margin: 0;
  }
  .creatBlog{
    width: 90vw;
    padding-bottom: 10px;
  }
  .create-blog-form{
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .description{
    width: 80vw;
  }
  .ql-toolbar{

  }
}